img{
  max-width: 300px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card .list-group {
  flex-grow: 1;
}