body {
  background-color: rgb(0,0,0);
  color: #FF69B4;
}

header, main, footer {
  font: italic bold 16px/2em 'Times New Roman', Times, serif;
  text-align: center;
}

header {
  text-shadow: 5px 5px 5px #FF69B4;
}

/* Main */
main {
  font-style: normal;
}

main img{
  width: 100%;
  margin: 0 auto;
}

div > p {
  padding: 0px 50px;
}

/* Links */
.link {
  text-decoration: none;
  color: Blue;
}

.link:visited {
  color: #FFB9AA;
  text-shadow: 0px 0px 25px #FFB9AA;
}

.link:hover{
  color: rgba(139, 177, 255, 1);
}

.link:focus {
  color: rgba(139, 177, 255, 1);
}
