/* CSS Reset */
body, header, nav, main, footer, h1, ul {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: #FF69B4;
  text-align: center;
}


/* Styling for Navigation */
nav {
  background-color: #000;
}

nav ul {
     margin: 1em auto;
     padding: 1em;
} 

nav li {
    display:inline-block;
    font-size: 1.5em; 
}

nav li a { 
    color: #fff; 
    padding: 0.5em 1.3em; 
    text-decoration: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav a:hover {
  color: red;
}

/* Styling for Main Content, Header, and Footer*/
header {
  font-size: 30px;
}

main {
  font-size: 20px;
}

img{
  max-width: 70%;
  height: auto;
  border-radius: 7em;
}

footer {
  margin-top: 15em;
}

/* Styling for small screens */
@media screen and (max-width: 768px) {
  nav li{
    display:block;
  }

  header {
    font-size: 24px;
  }

  main {
    font-size: 16px;
  }

  img{
    max-width: 90%;
    border-radius: 10em;
  }

  footer{
    margin-top: 10em;
  }
}